#contact_modal {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    z-index: 1;
    display: none;
}

#contact_button, .submit_button {
    position: relative;
    font-size: 1.2em;
    color: white;
    padding: 11px;
    margin: 0 auto;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 black;
    transition: all 0.5s ease-in-out;
}

#contact_button:hover,
.submit_button:hover,
#contact_button:focus,
.submit_button:focus {
    background-color: #DB8876;
    font-weight: bold;
    color: black;
    box-shadow: 7px 6px 12px 3px  rgba(0, 0, 0, 0.7);
    transform: scale(1.3, 1);
    outline: none;
}

.modal-content {
    border-radius: 5px;
    margin: 5% auto;
    background-color: #DB8876 !important;
    width: 100%;
    max-width: 670px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: -1px 0 9px 1px black;
    animation: anim-modal-open 0.5s linear;
    position: relative;
    overflow: hidden;
    padding: 30px;
}

.modal header {
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px 0;
}
.modal-close {
    width: 45px;
    height: 45px;
    background-image: url(../assets/icons/close.svg) ;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 10px;
    border: none;
    border-radius: 25px;
    background-color: #DB8876;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    outline: none;
}

.modal-close:hover:after,
.modal-close:focus:after{
    content: "";
    display: block;
    width: 45px;
    height: 45px;
    color: black;
    margin: -0.1em 0 0 -0.4em;
    border-radius: 25px;
    box-shadow: 6px 5px 10px black;
}

.modal-close:hover,
.modal-close:focus {
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    box-shadow: inset -6px -6px 7px 2px #901C1C;
}

#contact_modal header img {
    cursor: pointer;
}

#contact_modal header h2 {
    font-size: 3.5em;
    font-weight: normal;
    margin: 0;
}

form {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-label-require {
    color: #901C1C;
    font-size: 1.5em;
    font-weight: bold;
}

.form-label-title {
    color: #312E2E;
    font-size: 1.5em;
}

.text-muted {
    color : #901C1C;
    font-weight: bold;
    padding: 0.2em 0 0 0.5em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 2em;
}

form input,
form #message {
    width: 100%;
    max-width: 600px;
    height: 68px;
    border: 1px dashed transparent;
    border-radius: 10px;
    font-size: calc(32px - 12px);
    padding: 0.3em 0.3em;
    outline: none;
    transition: width 0.1s, height 0.1s, border-color 0.5s ease-in, box-shadow 0.5s ease-in, border-radius 0.5s ease-in;
}

form #message:focus {
    max-height: 100px;
}

form input:focus,
form #message:focus {
    border: 4px solid #901C1C;
    box-shadow: -10px 12px 20px 0 #0000009c;
    border-radius: 20px;
}

/*   Modal confirmation */
.form-confirm {
    position: relative;
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: anim-modal-open 0.5s linear;
}

.form-confirm-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    margin: 20px 0;
}

#confirm-title {
    width: 100%;
    text-align: left;
}

.form-confirm-info {
    width: 100%;
    padding: 10px;
    min-height: 50px;
    border: 1px solid #901C1C;
    border-radius: 5px;
    background-color: white;
}

.form-confirm-photographerName {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 6px #312e2e;
}

.form-confirm-photographerName:after {
    content: "";
    display: block;
    box-shadow: 2px -13px 17px 9px #d3573c;
}

#confirm-title:after {
    width: 18%;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

small {
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.submit_button:hover,
.submit_button:focus {
    background-color: #901C1CFF;
    color: white;
    font-weight: normal;
    font-size: 1.5em;
}