/* Lightbox */
#myLightbox {
    display: none;
    height: 100vh;
    padding: 0 20px 0 20px;
    justify-content: center;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

/* The Modal (background) */
.modal-lightbox {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    min-width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content-slides {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 90%;
    max-height: 80vh;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    margin: 50px 0 50px 0;
    background-color: black;
}

.mySlides img {
    display: block;
    border: none;
}
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.previous-button,
.next-button {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next-button {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.previous-button:hover,
.next-button:hover {
    border: 1px solid white;
    border-radius: 5px;
}

#caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
    font-size: 26px;
}

.active,
.demo:hover {
    opacity: 1;
}

* {
    box-sizing: border-box;
}
