@import url("photographerPageProfil.css");
@import url("keyframes.css");
@import url("lightbox.css");
.photographer_section_profil {
    width: 100%;
    display: block;
}

.photograph_header {
    background-color: #FAFAFA;
    height: 300px;
}

.photographer_card_page_profil {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.photographer_card_page_profil figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 92%;
    height: 100%;
    justify-items: center;
}


@media (max-width: 850px) {
    .photographer_card_page_profil figure {
        grid-template-columns: 1fr 1fr;

    }
}

#section-medias {
    max-width: 100%;
    padding-top: 20px;
}

.figure-photograph .photographer_card_info h1 {
    font-size: calc(1.5rem + 1.8vw);
    letter-spacing: 0.1rem;
    margin: 0 0 0.4rem 0;
    color: #d3573c;
}

.figure-photograph .photographer_card_city {
    font-size: calc(0.8rem + 0.8vw);
}

.figure-photograph .photographer_card_tagline {
    font-size: calc(0.5rem + 0.6vw);
}

.photographer_media  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 20px;
}

.photographer_media figure {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    max-width: 320px;
    width: 100%;
}


.photographer_media figure figcaption {
    height: 43px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer_media figure figcaption .titles-images {
    margin: 0;
    letter-spacing: 0.05em;
    width: 85%;
}

.photographer_media figure a,
.photographer_media figure video {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    box-shadow: 0 0 5px 1px dimgrey;
    overflow: hidden;
    outline: none;
}

.photographer_media figure a:hover,
.photographer_media figure a:focus,
.photographer_media figure video:hover,
.photographer_media figure video:focus
{
    box-shadow: -13px -11px 11px 0 dimgrey;
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.photographer_media figure img {
    min-height: 100%;
    min-width: 100%;
    width: 350px;
    height: 250px;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: black;
}

.photographer_media figure video{
    border-radius: 10px;
    background: black;
}

.photograph_media_gallery:hover > img,
.photograph_media_gallery:focus > img {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.photograph_media_gallery figcaption {
    height: 43px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.photograph_media_gallery figcaption p {
    margin: 0;
    width: 85%;
    font-size: large;
}

.color-red {
    color: #5f0e01;
    font-weight: bold;
}

@media (max-width: 1240px) {
    .photographer_media {
        grid-template-columns: 1fr 1fr;
    }

    .photographer_media figure {
        min-width: 350px;
    }
}

@media (max-width: 880px) {
    .photographer_media {
        grid-template-columns: 1fr;
    }
}

.like-card {
    outline: none;
    margin-left: 3px;
}

.like-card:hover >.fa ,
.like-card:focus > .fa {
    text-shadow: -3px -1px 5px #901c1c;
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.fa {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.footer-photographer-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 100px;
    width: 100%;
    height: 100%;
    max-width: 376px;
    max-height: 60px;
    border-radius: 10px 10px 0 0;
    box-shadow: -1px 0 9px 0 grey;
    padding: 0 10px;
    font-size: 1.1em;
    font-weight: 700;
}

#container-total-likes {
    width: 50%;
}

.i-total-likes {
    padding-left: 4%;
    cursor: default;
    font-size: 1.2em;
    text-shadow: 1px -1px 4px rgba(0, 0, 0, 0.75);
}

#photographer_card_price {
    color: black;
    font-size: 1em;
}






